
.full-width-container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.tracking-container {
  max-width: 98%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.heading{
  color: #007bff;
  font-size: 24px; /* Set the desired font size */
  margin-bottom: 20px;
}


.options label {
  flex: 1;
  margin: 0 10px;
}

.label-container label {
  margin-right: 5px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.case-status {
  margin-top: 20px;
}

.case-status h3 {
  color: #333;
}

.case-status p {
  margin-top: 10px;
}

.input-container input[type="text"] {
  width: 80%; /* Adjust the width as needed */
  max-width: 300px; /* Set a maximum width if necessary */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 40px;
}

.options-container {
    display: flex;
    justify-content: space-evenly;
  }
  
  .option {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    margin-right: 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    height: 60px;
    padding-bottom: auto;
  }
  
  .option:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .option.active {
    background-color: #007bff;
    color: #fff;
  }