/* FileACase.css */

.file-a-case {
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .option-container {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .option img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    margin-bottom: 5px;
  }
  
  .option span {
    text-align: center;
  }
  
  .selected {
    background-color: #e0e0e0;
  }
  
  .form-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
h2{
    text-align: center;
}