* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1000;
    background-color: black;
  }
  
  /* Style for the logo container */
  .logo-container {
    display: flex;
    align-items: center;
    color: white;
  }
  
  /* Style for the logo */
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  /* Style for the navigation links */
  .main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: white;

  }
  
  .main-nav li {
    margin-left: 15px;
    color: white;

  }
  
  .main-nav a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;

  }
  
  .mobile-icon{
    display: none;
  }
  /* Media query for responsive design */
  @media (max-width: 768px) {
    .main-nav {
      flex-direction: column;
      text-align: center;
    }
    .main-nav ul {
      flex-direction: column;
      position: absolute;
      top:50px;
      left: 0;
      width: 100%;
      background-color:black;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      display: none;
      z-index: 11111111111;
    }
  
    .main-nav ul.open {
      display: flex;
    }
  
    .main-nav .mobile-icon {
     display: flex;
     justify-content: space-evenly;
      cursor: pointer;
      margin-left: 220px;

    }
  
    .main-nav .mobile-icon:hover {
      background-color: rgb(231, 231, 238);
    }
  }
  