/* Base styles for the navigation bar */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-nav{
    background-color:rgb(57,167,255); 
    color: #fff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    line-height: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    z-index: 1000;
}

/* Style for the logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    padding-left: 60px;
}

/* Style for the navigation links */
.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav li{
    margin: auto 15px;
}

.main-nav a{
    text-decoration: none;
    color: #fff;
    padding-left: 10px; 
    font-size: 18px;
    vertical-align: middle; 
}


/* Media query for responsive design */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        margin-bottom: 20px;
    }

    ul {
        flex-direction: column;
    }

    li {
        margin: 10px 0;
    }
}
