/* temp.css */

.dashboard-container {
    display: flex;
  }
  
  .sidebar {
    height: 100vh;
    width: 60px;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  
  .sidebar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 20px; /* Adjust as needed */
  }
  
  .main-content {
    flex: 1;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .notification-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .notification-badge {
    background-color: red;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
    margin-left: 5px;
  }
  
  .dashboard-heading {
    font-size: 24px;
    margin-bottom: 20px; /* Adjust as needed */
  }
  
  .updates {
    position: absolute;
    top: 80px;
    right: 15px;
    height: 40vh;
    width: 25vw;
    background-color: #f4f5f7;
    color:black;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
.dashborad-element-container {
  display: grid;
  grid-template-rows: 1fr 1fr; /* Adjust the column width as needed */
  gap: 20px; /* Adjust the gap between grid items as needed */
}

.updates {
  grid-column: 1 / span 1; /* Adjust the column span for the updates section */
}

.selected-component-container {
  grid-column: 2 / span 1; 
  margin: 30px;/* Adjust the column span for the selected component container */
}

.dashboard-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
}

.dashboard-box {
  text-align: center;
  text-decoration: none;
  color: #000;
  border-radius: 8px;
  width:auto;
}

.dashboard-box:hover {
  transform: scale(1.05);
}

.dashboard-box img {
  border-radius: 8px;
  margin-bottom: 10px;
}
